{include file="common/header" title="$about.title" keywords="关于页面" /}
	<!-- 关于内容 -->
	<div id="contest-introduce" class="content-section-b" style="border-top: 0">
		<div class="container">
			<div class="text-center">
				<h3>{$about.title}</h3>
				</br>
				<p class="lead" style="margin-top:0;font-size:16px;">{$about.post_time}</p>				
				<div class="indent-two justify"><p class="lead text-left">{$about.content}</p></div>
			</div>
		</div>
	</div>
{include file="common/footer"/}
</body>
</html>
