{include file="common/header" title="我的团队" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <a href="{:url('group/groupAdd')}">
        <button class="btn btn-outline btn-primary" type="button" style="margin-bottom: 10px;">创建团队</button>
    </a>
    <div class="row">
        {volist name="group" id="vo"}
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-title">
                    {if $vo.recruit==1}
                        <span class="label label-primary pull-right">招募中</span>
                    {else /}
                        <span class="label label-warning pull-right">已满员</span>
                    {/if}
                    <a href="{:url('onegroup',array('id'=>$vo['id']))}"><h5>{$vo.name}</h5></a>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        {volist name="vo.user" id="voo"}
                            <a href="javascript:userZone({$voo.id},'{$voo.nic_name}')"><img alt="member" class="img-circle" src="{$voo.head}"></a>
                        {/volist}
                    </div>
                    <p>{$vo.intro}</p>
                    <div style="padding-top: 10px">
                        <span>当前完成进度：</span>
                        <div class="stat-percent">{$vo.persent_num}%</div>
                        <div class="progress progress-mini">
                            <div style="width: {$vo.persent_num}%;" class="progress-bar {$vo.bar_class}"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-3">
                            <div class="font-bold">比赛</div>
                            {$vo.contest_num} 个
                        </div>
                        <div class="col-sm-3">
                            <div class="font-bold">成员</div>
                            {$vo.member_num} 人
                        </div>
                        <div class="col-sm-3">
                            <div class="font-bold">消息</div>
                            {$vo.msg_num} 条
                        </div>
                        <div class="col-sm-3">
                            <div class="font-bold">任务</div>
                            {$vo.uncomplete_num}/{$vo.all_num} 个
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/volist}
    </div>
</div>
{include file="common/footer"/}
<script>
    function userZone(id,nic_name){
        parent.layer.open({
            type: 2,
            title: false,
            closeBtn: false,
            shade: [0],
            area: ['340px', '215px'],
            offset: 'rb',
            time: 500,
            shift: 2,
            content: ['/admin/zone/index/id/'+id, 'no'],
            end: function(){
                parent.layer.open({
                    type: 2,
                    title: nic_name,
                    shadeClose: true,
                    shade: false,
                    maxmin: true, 
                    area: ['400px', '600px'],
                    content: '/admin/zone/index/id/'+id
                });
            }
        });
    }
</script>
</body>
</html>
