{include file="common/header" title="我的团队" /}
<body class="gray-bg one-group">
    <div class="row">
        <div class="col-sm-9">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="m-b-md">
                                    {if $group.leader_id == $myself.id}<a href="javascript:groupDel({$group.id})" class="btn btn-danger btn-xs pull-right">删除团队</a><a href="{:url('groupedit',array('id'=>$group.id))}" class="btn btn-primary btn-xs pull-right">编辑团队</a>
                                    {/if}
                                    {if $in_group==0}<a href="#modal-join-group" class="btn btn-primary btn-xs pull-right" data-toggle="modal">申请入队</a>{/if}
                                    <h2 class="text-center">{$group.name}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <dl class="dl-horizontal">
                                    <dt>组长：</dt>
                                    <dd class="project-people">
                                        <a href="javascript:userZone({$group.leader.id},'{$group.leader.name}')">
                                            <img alt="leader" class="img-circle" src="{$group.leader.head}">
                                        </a>
                                    </dd>
                                    <dt>成员：</dt>
                                    <dd class="project-people">
                                        {volist name="group.user" id="vo"}
                                            <a href="javascript:userZone({$vo.id},'{$vo.nic_name}')">
                                                <img alt="member" class="img-circle" src="{$vo.head}">
                                            </a>
                                        {/volist}
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-sm-6" id="cluster_info">
                                <dl class="dl-horizontal">
                                    <dt>状态：</dt>
                                    <dd>                        
                                        {if $group.recruit==1}
                                            <span class="label label-primary">招募中</span>
                                        {else /}
                                            <span class="label label-warning">已满员</span>
                                        {/if}
                                    </dd>
                                    <dt>成立：</dt>
                                    <dd>{$group.establish_time}</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <dl class="dl-horizontal">
                                    <dt>简介：</dt>
                                    <dd>{$group.intro}</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-sm-12">
                                <div class="panel blank-panel">
                                    <div class="panel-heading">
                                        <div class="panel-options">
                                            <ul class="nav nav-tabs">
                                                <li><a href="project_detail.html#tab-1" data-toggle="tab">团队消息</a></li>
                                                <li class=""><a href="project_detail.html#tab-2" data-toggle="tab">竞赛列表</a></li>
                                                <li class=""><a href="project_detail.html#tab-3" data-toggle="tab">任务列表</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-1">
                                                <div class="feed-activity-list">
                                                    {if $has_auth == true}
                                                        {volist name="msg" id="vo"}
                                                            <div class="feed-element">
                                                                <a href="javascript:userZone({$vo.user_id},'{$vo.user_name}')" class="pull-left">
                                                                    <img alt="member" class="img-circle" src="{$vo.head}">
                                                                </a>
                                                                <div class="media-body ">
                                                                    <small class="pull-right">{$vo.time_dif}</small>
                                                                    <strong>{$vo.user_name}</strong>
                                                                    <br>
                                                                    <small class="text-muted">{$vo.post_time}</small>
                                                                    <div class="well">{$vo.contant}</div>
                                                                    <div class="pull-right">
                                                                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> 点赞 </a>
                                                                        <a class="btn btn-xs btn-primary"><i><strong>@</strong></i> 回复</a>
                                                                        {if $vo.user_id == $myself.id}<a class="btn btn-xs btn-warning" href="javascript:msgDel({$vo.id})"><i class="fa fa-close"></i> 删除</a>{/if}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {/volist}
                                                    {else /}
                                                        <div class="alert alert-danger">抱歉，您没有权限查看该内容！</div>
                                                    {/if}
                                                    <div class="feed-element">
                                                        <form class="form-horizontal m-t" id="msgForm" method="post" action="{:url('group/msgadd')}">
                                                            <input type="hidden" name="user_id" value="{$myself.id}">
                                                            <input type="hidden" name="group_id" value="{$group.id}">
                                                            <a href="javascript:userZone({$myself.id},'{$myself.name}')" class="pull-left">
                                                                <img alt="member" class="img-circle" src="{$myself.head}">
                                                            </a>
                                                            <div class="media-body group-body-msg">
                                                                <textarea class="form-control group-msg" placeholder="填写留言..." required="" aria-required="true" id="contant" name="contant"></textarea>
                                                            </div>
                                                            <div class="pull-right">
                                                                <button class="btn btn-xs btn-primary" type="submit"><i class="fa fa-send"></i> 发送</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-2">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>竞赛</th>
                                                            <th>进度</th>
                                                            <th>状态</th>
                                                            <th>报名时间</th>
                                                            <th>结束时间</th>
                                                            <th>剩余时间</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {volist name="signup" id="vo"}
                                                            <tr>
                                                                <td>
                                                                    {$vo.name}
                                                                </td>
                                                                <td>{$vo.complete_num}</td>
                                                                <td>
                                                                    <span class="label label-primary"> {$vo.status}</span>
                                                                </td>
                                                                <td>
                                                                    {$vo.time_signup}
                                                                </td>
                                                                <td>
                                                                    {$vo.time_end}
                                                                </td>
                                                                <td>
                                                                    {$vo.time_have}
                                                                </td>
                                                            </tr>
                                                        {/volist}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane" id="tab-3">
                                                {if $has_auth == true}
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>成员</th>
                                                                <th>职能</th>
                                                                <th>剩余任务</th>
                                                                <th>所有任务</th>
                                                                <th>任务操作</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                                {volist name="group.user" id="vo"}
                                                                    <tr>
                                                                        <td>{$vo.real_name}</td>
                                                                        <td><span class="label label-primary">{$vo.function}</span></td>
                                                                        <td>{$vo.uncomplete_task_count} 个</td>
                                                                        <td>{$vo.all_task_count} 个</td>
                                                                        <td>{$vo.option}</td>
                                                                    </tr>
                                                                {/volist}
                                                        </tbody>
                                                    </table>
                                                {else /}
                                                    <div class="alert alert-danger">抱歉，您没有权限查看该内容！</div>
                                                {/if}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-join-group" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form-horizontal m-t" id="groupForm" method="post" action="{:url('group/joingroup')}">
                        <input type="hidden" name="to_id" value="{$group.leader_id}">
                        <input type="hidden" name="from_id" value="{$myself.id}">
                        <input type="hidden" name="title" value="申请入队">
                        <input type="hidden" name="group_id" value="{$group.id}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">主题：</label>
                            <div class="input-group col-sm-7">
                                <input type="text" class="form-control" required="" aria-required="true" value="申请入队" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">团队：</label>
                            <div class="input-group col-sm-7">
                                <input type="text" class="form-control" required="" aria-required="true" value="{$group.name}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">留言：</label>
                            <div class="input-group col-sm-7">
                                <textarea id="contant" class="form-control" name="contant" required="" aria-required="true"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-sm-offset-8">
                                <button class="btn btn-primary" type="submit">发送</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{include file="common/footer"/}
<script>
    function userZone(id,nic_name){
        parent.layer.open({
            type: 2,
            title: false,
            closeBtn: false,
            shade: [0],
            area: ['340px', '215px'],
            offset: 'rb',
            time: 500,
            shift: 2,
            content: ['/admin/zone/index/id/'+id, 'no'],
            end: function(){
                parent.layer.open({
                    type: 2,
                    title: nic_name,
                    shadeClose: true,
                    shade: false,
                    maxmin: true, 
                    area: ['400px', '600px'],
                    content: '/admin/zone/index/id/'+id
                });
            }
        });
    }
    function task(uid, gid){
        parent.layer.open({
            type: 2,
            title: false,
            closeBtn: false,
            shade: [0],
            area: ['340px', '215px'],
            offset: 'rb',
            time: 500,
            shift: 2,
            content: ['{:url("admin/task/index")}'+'?uid='+uid+'&gid='+gid, 'no'],
            end: function(){
                parent.layer.open({
                    type: 2,
                    title: '任务',
                    shadeClose: true,
                    shade: false,
                    maxmin: true, 
                    area: ['1000px', '600px'],
                    content: '{:url("admin/task/index")}'+'?uid='+uid+'&gid='+gid
                });
            }
        });
    }
     function msgDel(id){
        layer.confirm('确认删除此消息?', {icon: 3, title:'提示'}, function(index){
            $.getJSON("{:url('group/msgDel')}", {'id' : id}, function(res){
                if(1 == res.code){
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function(){
                        window.location.href = res.data;
                    });
                }else{
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });
            layer.close(index);
        })
    }
    function groupDel(id){
        layer.confirm('确认删除此团队?', {icon: 3, title:'提示'}, function(index){
            $.getJSON("{:url('group/groupDel')}", {'id' : id}, function(res){
                if(1 == res.code){
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function(){
                        window.location.href = res.data;
                    });
                }else{
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });
            layer.close(index);
        })
    }
    var index = '';
    function showStart(){
        index = layer.load(0, {shade: false});
        return true;
    }
    function showSuccess(res){
        layer.ready(function(){
            layer.close(index);
            if(1 == res.code){
               layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function(){
                   window.location.href = res.data;
               });
            }else if(111 == res.code){
                window.location.reload();
            }else{
                layer.msg(res.msg, {anim: 6});
            }
        });
    }
    $(document).ready(function(){
        $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",});
        var options = {
            beforeSubmit:showStart,
            success:showSuccess
        };
        $('#msgForm').submit(function(){
            $(this).ajaxSubmit(options);
            return false;
        });
        $('#groupForm').submit(function(){
            $(this).ajaxSubmit(options);
            return false;
        });
    });
    // 表单验证
    $.validator.setDefaults({
        highlight: function(e) {
            $(e).closest(".form-group").removeClass("has-success").addClass("has-error")
        },
        success: function(e) {
            e.closest(".form-group").removeClass("has-error").addClass("has-success")
        },
        errorElement: "span",
        errorPlacement: function(e, r) {
            e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
        },
        errorClass: "help-block m-b-none",
        validClass: "help-block m-b-none"
    });
</script>
</body>
</html>
