{include file="common/header" title="用户管理" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>用户列表</h5>
        </div>
        <div class="ibox-content">
            <div class="form-group clearfix col-sm-1">
                {if authCheck('user/useradd') }
                    <a href="{:url('user/userAdd')}">
                        <button class="btn btn-outline btn-primary" type="button">添加用户</button>
                    </a>
                {/if}
                {if authCheck('user/userimport') }
                    <button class="btn btn-outline btn-primary" type="button" id="user-import">批量导入用户</button>
                {/if}
            </div>
            <form id='commentForm' role="form" method="post" class="form-inline pull-right">
                <div class="content clearfix m-b">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="user_name" placeholder="输入用户名称">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" style="margin-top:5px" id="search"><strong>搜 索</strong>
                        </button>
                    </div>
                </div>
            </form>
            <div class="example-wrap">
                <div class="example">
                    <table id="cusTable">
                        <thead>
                        <th data-field="id">ID</th>
                        <th data-field="user_name">用户名</th>
                        <th data-field="nic_name">昵称</th>
                        <th data-field="head">头像</th>
                        <th data-field="role_name">角色</th>
                        <th data-field="login_times">登录次数</th>
                        <th data-field="last_login_ip">上次登录ip</th>
                        <th data-field="last_login_time">上次登录时间</th>
                        <th data-field="status">状态</th>
                        <th data-field="operate">操作</th>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{include file="common/footer"/}
<script type="text/javascript">
    function initTable() {
        $('#cusTable').bootstrapTable('destroy');
        $("#cusTable").bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "./index", //获取数据的地址
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            pageSize: 10,  //每页显示的记录数
            pageNumber:1, //当前第几页
            pageList: [5, 10, 15, 20, 25],  //记录数可选列表
            sidePagination: "server", //表示服务端请求
            paginationFirstText: "首页",
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            paginationLastText: "尾页",
            queryParamsType : "undefined",
            queryParams: function queryParams(params) {
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                    searchText:$('#username').val()
                };
                return param;
            },
            onLoadSuccess: function(res){
                if(111 == res.code){
                    window.location.reload();
                }
                layer.msg("加载成功", {time : 1000});
            },
            onLoadError: function(){
                layer.msg("加载失败");
            }
        });
    }
    function userDel(id){
        layer.confirm('确认删除此用户?', {icon: 3, title:'提示'}, function(index){
            $.getJSON("{:url('user/userDel')}", {'id' : id}, function(res){
                if(1 == res.code){
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function(){
                        initTable();
                    });
                }else if(111 == res.code){
                    window.location.reload();
                }else{
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });
            layer.close(index);
        })
    }
    $(document).ready(function () {
        initTable();
        $("#search").bind("click", initTable);
        //导入按钮
        layui.use('upload', function(){
            var upload = layui.upload;
            var uploadInst = upload.render({
                elem: '#user-import',
                accept: 'file',
                url: "{:url('user/userImport')}",
                done: function(res){
                    if(res.code == 1){
                        layer.msg(res.msg);
                        setTimeout('initTable();',1000);
                    }else{
                        layer.msg(res.msg);
                    }
                },
                error: function(){}
            });
        });
    });
</script>
</body>
</html>
